
        body {
            background-color:rgb(54, 69, 79);
            color:whitesmoke;
            margin: 12%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        h1 {
            text-align: center;
            color: cyan;
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(96, 96, 224);
        }
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 330px;
            height: 360px;
        }

        p {
            text-decoration-color: rgb(252, 244, 136);
            text-align: justify;
            font-weight: 500;
            font-size: medium;
        }

        .timeline {
            text-align: center;
            color: gold;
            margin: 15%;
            margin-top: 3%;
            margin-bottom: 0%;
        }
        .timeline p{
            font-weight: 500;
        }

        .bestquote {
            width: auto;
            padding: 10px;
            margin: 5%;
            margin-bottom: 0%;
            text-align: center;
        }

        .bs {
            text-align: center;
            border: 4px solid rgb(169, 166, 166);
            margin: 4%;
            margin-top: 0%;
            margin-bottom: 1%;
            padding: 5px;
            padding-bottom: 2%;
        }

        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
            margin: auto;
        }

        .column {
            flex: 33.33%;
            padding: 10px;
            margin: 25px;
            margin-top: 1%;
        }

        .famousbooks{
            text-align: center;
            color: cyan;
        }

        .wiki {
            color: gold;
            text-align: center;
        }
        .wiki a{
            color:#DBA6F7;
        }

        .footer {
            color: whitesmoke;
            text-align: center;
            font-weight: 600;
        }

        .footer a{
            color: gold;
        }

        
        